<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Change Password</h1>
  <br>
  <form action="" method="post" name="Change Password">
      {{ form.hidden_tag() }}
      <p>
          Old Password:<br>
          {{ form.old_password(size=20) }}<br>
          {% for error in form.old_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          New Password:<br>
          {{ form.new_password(size=20) }}<br>
          {% for error in form.new_password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
	  <p>
          Repeat New Password:<br>
          {{ form.confirm(size=20) }}<br>
          {% for error in form.confirm.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p><input type="submit" value="Change Password"></p>
	  <br>
  </form>
  <a href="{{ url_for('user', username=g.user.username) }}"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
{% endblock %}