<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

	<div class="page-header">
		<h2>Hello, 
		{% if g.user.username %}
			{{ g.user.username }}
		{% else %}
			Stranger
		{% endif %}!
		</h2>
	</div>
	<h4>Leave a Comment:</h4>
	{% import "bootstrap/wtf.html" as wtf %}

	<div>
	 {{ wtf.quick_form(form, form_type="horizontal", horizontal_columns=('sm', 20, 10)) }}
        {{ form.hidden_tag() }}
		<td>
			{% for error in form.post.errors %}
			<span style="color: red;">[{{ error }}]</span><br>
			{% endfor %}
		</td>
    </div> 
	<br>
	<br>

	<!-- posts is a Paginate object -->
	{% for post in posts.items %}
		{% include 'post.html' %}
	{% endfor %}

	<div class="page">
		<ul class="pager">
		{% if posts.has_prev %}
			<li class="previous"><a href="{{ url_for('index', page=posts.prev_num)}}"><span aria-hidden="true">&lt;&lt;</span> Prev</a></li>
		{% endif %} 
		
		{% if posts.has_next %}
			<li class="next"><a href="{{ url_for('index', page=posts.next_num) }}">Next <span aria-hidden="true">&gt;&gt;</span></a></li>
		{% endif %}
		</ul>
	</div>
	
{% endblock %}