<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  <h1>Login</h1>
  <br>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Username:<br>
          {{ form.username(size=20) }}<br>
          {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
	  <p>
          Password:<br>
          {{ form.password(size=20) }}<br>
          {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>{{ form.remember_me }} Remember Me </p>
      <p><input type="submit" value="Login"></p>
	  <br>
	  <p><a href="{{ url_for('retrieve_password') }}"><U> Forget Password?</U></a></p>
  </form>
{% endblock %}