<div class="posts">
	<ul style="list-style-type:none;"> 
		<li class="list-group-item">
			<div class="posts-thumbnail"><a href="{{ url_for('user', username=post.author.username) }}">
				<img class="img-circle" style="max-width: 55px; margin-top: -7px;"  align="left"  src="{{ url_for('static', filename='images/default_avatar.jpg') }}"></a> 
			</div>
			<div class="posts-body">
				<p>
					<a href="{{ url_for('user', username=post.author.username) }}"><span class="label label-primary">{{ post.author.username }}</span></a>
					<span class="post-moment" style="float:right">{{ moment(post.timestamp).fromNow() }}</span>	
				{% if post.author.id == g.user.id %}
 
					<a href="{{ url_for('delete', id=post.id) }}"><button type="button" class="btn btn-xs" aria-label="right Align"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button></a>
				{% endif %}					
				</p>

				<div style="overflow: auto;">
						<p style="white-space: pre-wrap;">{{ post.body }}</p>
				</div>
			</div>
		</li>
	</ul>
</div>





